    body {
    font-family: 'Caveat', cursive;
    /* Шрифт */
    font-size: 24px;
    /* Размер шрифта */
    background: #eee;
}

h1 {
    text-align: center;
    margin-top: 2em;
    font-size: 3em;
    color: rgb(51, 51, 51);
}

* {
    box-sizing: border-box;
}

.container {
    padding: 1rem;
    max-width: 800px;
    margin: auto;
    text-align: center;
    background-color: cornsilk;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    background-color: darkgray;
}

.flex-item {
    height: 200px;
    flex-grow: 1;
    flex-basis: 0;
    font-size: 2em;
}

.flex-item.red {
    background-color: red;
}

.flex-item.green {
    background-color: green;
}

.flex-item.blue {
    background-color: blue;
}


/* Media */

@media (max-width: 800px) {
    .container {
        background-color: darkorange;
    }
    body {
        font-size: 20px;
    }
    .flex {
        flex-wrap: wrap;
    }
    .flex-item {
        flex-basis: 50%;
    }
}

@media (max-width: 600px) {
    .container {
        background-color: darkorange;
    }
    body {
        font-size: 20px;
    }
    .flex {
        flex-wrap: wrap;
    }
    .flex-item {
        flex-basis: 100%;
    }
    .red {
        order: 3;
    }
    .blue {
        order: 2;
    }
}

@media (max-height: 350px) and (orientation: landscape) {
    .flex {
        flex-wrap: wrap;
    }
    .flex-item {
        flex-basis: 100%;
    }