* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: beige;
}

.main {
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 700px;
    border: 1px solid gray;
}

.tetris {
    width: 500px;
    height: 900px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    background-color: honeydew;
}

.excel {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(214, 230, 223);
}

.figure,
.set {
    background-color: teal;
}

.scores {
    position: relative;
    margin: 50px auto;
    width: 500px;
    font-size: 30px;
    color: teal;
    font-weight: bold;
    background-color: white;
    text-align: center;
    bottom: 80%;
}

.controls {
    position: fixed;
    font-size: 25px;
    top: 10%;
    left: 75%;
}

.button {
    border: 3px solid rgb(31, 73, 68);
    width: 300px;
    color: rgb(185, 231, 231);
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 30px 0;
    cursor: pointer;
    font-size: 25px;
    transition: .2s;
    border-radius: 10px;
    background-color: teal;
}

.button:hover {
    border-radius: 40px;
    background-color: rgb(6, 148, 148);
    border: 3px solid rgb(250, 250, 250);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: teal;
}

.modal {
    position: fixed;
    text-align: center;
    align-items: center;
    color: teal;
    font-size: 20px;
    transform: translateX(-250px);
    left: 50%;
    top: 100px;
    width: 470px;
    height: 470px;
    background-color: rgb(200, 245, 226);
    z-index: 3;
}