body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(80, 169, 211);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    height: 300px;
    position: relative;
    perspective: 1000px;
}

.front,
.back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: 1s;
    border-radius: 5px;
}

.front {
    background-color: green;
    color: white;
    font-size: 30px;
}

.back {
    background-color: goldenrod;
    color: white;
    font-size: 30px;
    transform: rotateY(180deg);
}

.card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: rotateY(360deg);
}