body {
    font-family: Arial, Helvetica, sans-serif; /* Шрифт */
    font-size: 18px; /* Размер шрифта */
    background: url("../img/pattern.png");
}
.title {
    text-align: center; /* Выравнивание текста по центру */
    font-weight: bold; /* Вес шрифта (жирный) */
    font-style: oblique; /* Стиль шрифта (курсив) */
    letter-spacing: 2px; /* Кернинг */
    text-decoration: underline; /* Подчеркивание */
    text-transform: uppercase; /* Все буквы большие */
}
.justify {
    text-align: justify; /* Выравнивание текста по ширине */
    line-height: 1.4; /* Интерлиньяж */
    text-indent: 20px; /* Отступ красной строки */
}
ul {
    list-style-type: square; /* Определяет тип маркеров в списке */
    list-style-position: inside; /* Определяет отступы перед маркерами в списке */
}
.red {
    color: crimson;
    font-weight: bold;
    font-style: italic;
    display: inline-block; /* Строка внутри блока отображается как блок-строка */
    margin: 10px 10px;
}
.bl01 {
    background-color: rgb(196, 196, 196);
    width: 600px;
    text-align: justify;
    margin: 20px auto;
    /*margin: 60px 30px 60px 30px; /* Отступ блока от краев */
    padding: 60px 30px 60px 30px; /* Отступ текста внутри блока */
}
/* Page */

.post {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e6e6e6;
    padding: 30px 30px;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.post-title {
    margin: 0px;
    color: rgb(255, 174, 0);
}
.post-text {
    margin: 0px 0px 20px 0px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: justify;
}
.grad {
    width: 500px;
    height: 500px;
    margin: auto;
    /* background-image: linear-gradient(45deg, #000000 40%, #ff0000 50%, #000000 60%); Линейный градиент фона */
    background-image: radial-gradient(#000000 40%, #922a2a 50%, #000000 60%); /* Лоинейный градиент фона */
    
}