body {
    font-family: Arial, Helvetica, sans-serif; /* Шрифт */
    font-size: 18px; /* Размер шрифта */
}
p {
    line-height: 1.5;
}
.red {
    color: crimson;
    font-weight: bold;
    font-style: italic;
}
.bl01 {
    width: 800px;
    text-align: justify;
    margin: 30px 30px 30px 30px;
}