* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

.bg {
    pointer-events: none;
    position: fixed;
    color: azure;
    background-color: rgb(16, 54, 71);
    min-width: 100%;
    min-height: 100vh;
    z-index: -3;
}