body {
    font-family: Arial, Helvetica, sans-serif; /* Шрифт */
    font-size: 18px; /* Размер шрифта */
    background: #eee;
    margin: 0px;
}
.composition {
    width: 650px;
    height: 400px;
    margin: 50px auto;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}
.road {
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
.car {
    position: absolute;
    bottom: 40px;
    left: 300px;
    z-index: 3;
    transition: 5s ease-in-out;
}
.car:hover {
    left: -400px;
    -webkit-t
}
.tree {
    position: absolute;
    right: 50px;
    bottom: 80px;
    z-index: 2;
}
.cloud {
    position: absolute;
    top: 30px;
    left: -20px;
    z-index: 2;
}
.cloud2 {
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 1;
}
.cloud3 {
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 1;
}