body {
    font-family: 'Caveat', cursive;
    /* Шрифт */
    font-size: 24px;
    /* Размер шрифта */
    background: #eee;
}

h1 {
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    color: white;
    text-shadow: -2px 2px 4px rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
}

.vid {
    text-align: center;
}

.video {
    width: 720px;
    height: 405px;
}