body {
    font-family: Arial, Helvetica, sans-serif;
    /* Шрифт */
    font-size: 18px;
    /* Размер шрифта */
    background: #eee;
}

h1 {
    text-align: center;
    margin-top: 180px;
    color: white;
    text-shadow: -2px 2px 4px rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
}

.page {
    width: 700px;
    margin: 20px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(204, 204, 204);
    padding: 10px;
}

.header-item {
    flex-basis: 0;
    flex-grow: 1;
}

.content {
    display: flex;
}

.sidebar {
    flex-basis: 20%;
    padding: 10px;
    background-color: rgb(94, 94, 94);
}

.main {
    flex-basis: 80%;
    padding: 10px;
    background-color: rgb(146, 146, 146);
}

.footer {
    padding: 10px;
    background-color: rgb(204, 204, 204);
}